<a href="https://colab.research.google.com/github/Eriand523/Phyton--Curso-desde-cero/blob/main/4_Funciones_Integradas_con_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Desde Cero 🐍

Pyladies Panamá 🌻

2022


---

Day 2 - PythonDesdeCero Challenge

---


Refecencia
Link de video: https://www.youtube.com/watch?v=hHhkLEnowLA&list=PLDXvhsYB9YPydrapCVAkLI4TgrO2d7Eti&index=3 


---

FUNCIONES INTEGRADAS CON PYTHON

---

In [ ]:
# Función print()

print("¿Sigue", [0, 1, 1, 2, 3, 5], "la sucesión de Fibonacci?")
print("No lo sé", "No me importa")

print("F", "i", "b", "o", "n", "a", "c", "c", "i")
print(0, 1, 1, 2, 3, 5)

¿Sigue [0, 1, 1, 2, 3, 5] la sucesión de Fibonacci?
No lo sé No me importa
F i b o n a c c i
0 1 1 2 3 5

In [ ]:
# Función print() - Continuación

print("¿Sigue", [0, 1, 1, 2, 3, 5], "la sucesión de Fibonacci?", end=" R: ")
print("No lo sé", "No me importa", sep=" y ")

print("F", "i", "b", "o", "n", "a", "c", "c", "i", sep="", end=": ")
print(0, 1, 1, 2, 3, 5, sep=", ", end=", ...")

In [ ]:
# Función input()

variable = input("Escriba su nombre: ")
print(variable + ", eres una persona de dudosa inteligencia.")

In [ ]:
# Función: type()

print(type("Palabra"))
print(type(3))
print(type(2.3))
print(type(True))
print(type([]))
print(type(()))
print(type({0}))
print(type({}))

In [ ]:
# Funciones de conversión de datos string a numéricos: str int float bool

var_string = "30"

#imprime el tipo de dato
print(var_string, type(var_string))

#Conversión de un string a número: int
#Uso de función: int()
var_num = int(var_string)
print(var_num, type(var_num))

#Conversión de un string a número: float 
#Uso de función: float() 
var_float = float(var_string)
print(var_float, type(var_float))

In [ ]:
# Conversión de tipo de datos:  list tuple set dict

#Uso de función: list()
var_lista = list((1, 2, 3))

#Uso de función: tuple()
var_tupla = tuple((1, 2, 3))

#Uso de función: set()
var_conjunto = set((1, 2, 3))

#Uso de función: dict()
var_diccionario = dict((("Uno", 1), ("Dos", 2), ("Tres", 3)))


print(var_lista, type(var_lista))
print(var_tupla, type(var_tupla))
print(var_conjunto, type(var_conjunto))
print(var_diccionario, type(var_diccionario))

print(list("Deletrea"))
print(dict(Uno=1, Dos=2, Tres=3))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'Uno': 1, 'Dos': 2, 'Tres': 3} <class 'dict'>
['D', 'e', 'l', 'e', 't', 'r', 'e', 'a']
{'Uno': 1, 'Dos': 2, 'Tres': 3}

In [ ]:
# Uso de funciones numéricas: abs, pow round

print("El valor absoluto de -5:", abs(-5))
print("Potencia 2^3:", pow(2, 3))

print("Redondeo de 5.25:", round(5.25))
print("Redondeo de 5.25:", round(5.25))

print("Redondeo de 5.25 con 0 cifras decimales:", round(5.25, 0))
print("Redondeo de 5.25 con 1 cifra decimal:", round(5.25, 1))
print("Redondeo de 5.25 con 2 cifras decimales:", round(5.25, 2))

In [ ]:
# Uso de funciones numéricas:  sum max min
print("Suma lista:", sum(list((1, 2, 3))))
print("Suma tupla:", sum(tuple((1, 2, 3))))
print("Suma conjunto:", sum(set((1, 2, 3))))
print("Suma diccionario:", sum(dict(((1, "Uno"), (2, "Dos"), (3, "Tres")))))

print("Máximo:", max(list((1, 2, 3))))
print("Mínimo:", min(set((1, 2, 3))))

In [ ]:
# Funciones: len sorted

lista = [5, 1, 4, 3, 2]
diccionario = {"Clave_1": "Valor_1", "Clave_2": "Valor_2"}

print("El tamaño de la lista es:", len(lista))
print("El tamaño del diccionario es:", len(diccionario))

print("Lista ordenada", sorted(lista))
print("Lista ordenada inversa:", sorted(lista, reverse=True))

El tamaño de la lista es: 5
El tamaño del diccionario es: 2
Lista ordenada [1, 2, 3, 4, 5]
Lista ordenada inversa: [5, 4, 3, 2, 1]

In [ ]:
# Funciones: range
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(1, 16, 3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7, 10, 13]

In [ ]:
# Funciones: enumerate zip

print(list(enumerate(["A", "B", "C"])))
print(list(enumerate(["A", "B", "C"], start=2)))


print(list(zip([1, 2, 3, 4], ["A", "B", "C", "D"])))

[(0, 'A'), (1, 'B'), (2, 'C')]
[(2, 'A'), (3, 'B'), (4, 'C')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]